{% extends 'base.html' %}

{% block title %} Лабораторная 1 {% endblock %}

{% block content %}

    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <br>
                <div class="text-center">
                    <h4 class="text-black">

                        <b>
                            Лабораторная работа №1.</b> Передискретизация, обесцвечивание и бинаризация растровых
                        изображений

                    </h4>
                    <i>
                        Каждый студент выполняет все задания. Стандартные функции передискретизации,
приведения к полутону, бинаризации не использовать.
                    </i>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table">
                            <tbody>

                            <tr>
                                <td colspan="5" class="">
                                    <h4>
                                        <ol>
                                            <li>
                                                <a href="{% url 'laba_1:resampling-index' %}"><b>Передискретизация (только для бакалавров)</b></a>
                                            </li>
                                            <ul>
                                                <li> Загрузить полноцветное изображение в формате *.bmp;</li>
                                                <li> Растяжение (интерполяция) изображения в M раз;</li>
                                                <li> Сжатие (децимация) изображения в N раз;</li>
                                                <li> Передискретизация изображения в K=M/N раз путём растяжения и
последующего сжатия (в два прохода);</li>
                                                <li> Передискретизация изображения в K раз за один проход.</li>
                                            </ul>
                                            <br>

                                            <li>
                                                <a href="{% url 'laba_1:grayscale-index' %}"><b>Приведение полноцветного изображения к полутоновому.</b></a>
                                            </li>
                                            <ul>
                                                <li> Загрузка полноцветного изображения в формате *.bmp (3 цветовых канала);</li>
                                                <li> Создание нового изображения в режиме полутона (1 яркостный канал);</li>
                                                <li> Попиксельный расчёт яркости нового изображения на основе полноцветного
путём усреднения по каналам;</li>
                                                <li> Сохранение полутонового изображения в формат *.bmp.</li>
                                            </ul>
                                            <br>

                                            <li>
                                                <b>Приведение полутонового изображения к монохромному методом пороговой обработки. Один алгоритм на выбор:</b>
                                            </li>
                                            <ul>
                                                <li> Алгоритм сбалансированного порогового отсечения гистограммы.</li>
                                                <li> Алгоритм глобальной бинаризации с критерием Отсу.</li>
                                                <a href="{% url 'laba_1:threshold-index' %}">
                                                <li> Алгоритм адаптивной бинаризации Ниблэка.</li>
                                                </a>
                                                <li> Алгоритм адаптивной бинаризации Кристиана.</li>
                                                <li> Улучшенный алгоритм адаптивной бинаризации Бернсена.</li>
                                                <li> Алгоритм адаптивной бинаризации Эйквила.</li>
                                                <li> Алгоритм адаптивной бинаризации Саувола.</li>
                                                <li> Алгоритм адаптивной бинаризации Брэдли и Рота.</li>
                                            </ul>
                                        </ol>
                                    </h4>
                                </td>
                            </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>


    {% for result in results %}

        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <br>
                    <div class="text-center">
                        <h4 class="text-black">{{ result.title }} {{ result.id }}

                        </h4>
                        {#                        <i>#}
                        {#                            Каждый студент выполняет все задания. Стандартные функции передискретизации,#}
                        {#                        </i>#}
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-lg-6">
                                <img src="{{ result.img_before.url }}" width="100%">
                            </div>
                            <div class="col-lg-6">
                                <img src="{{ result.img_after.url }}" width="100%">
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    {% endfor %}


{% endblock %}