{% extends 'base.html' %}

{% block title %} Лабораторная работа 3 {% endblock %}

{% block content %}

    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <br>
                <div class="text-center">
                    <h4 class="text-black">

                        <b>
                            Лабораторная работа №3.</b> Выделение контуров на изображении
                    </h4>
                    <div class="text-left">
                        <i>
{#                            <ol>#}
{#                                <li> Загрузка полноцветного изображения в формате *.bmp (3 цветовых канала);</li>#}
{#                                <li> Создание нового изображения в режиме полутона (1 яркостный канал);</li>#}
{#                                <li> Попиксельный расчёт яркости нового изображения на основе полноцветного путём усреднения по каналам;</li>#}
{#                                <li> Сохранение полутонового изображения в формат *.bmp.</li>#}
{#                            </ol>#}
                        </i>
                    </div>

                </div>
                <div class="card-body">

                    <form action="{% url 'laba_3:roberts' %}" enctype="multipart/form-data" method="post">
                        {% csrf_token %}
                        <div class="fileinput fileinput-new text-center col-xl-12 ml-auto mr-auto"
                             data-provides="fileinput">
                            <div class="fileinput-new thumbnail">
                                {% if original_img %}
                                    <img src="{{ original_img }}" alt="...">
                                {% endif %}
                            </div>
                            <div class="fileinput-preview fileinput-exists thumbnail"></div>
                            <div>
                                                <span class="btn btn-rose btn-round btn-file"><span
                                                        class="fileinput-new">Выберите изображение</span>
                                                <span class="fileinput-exists">Редактировать</span>
                                                    <input type="file" name="img" required/></span>
                                <a href="#pablo" class="btn btn-danger btn-round fileinput-exists"
                                   data-dismiss="fileinput"><i class="fa fa-times"></i> Удалить</a>
                            </div>
                        </div>



                                <div class="input-group form-control-lg">

                                    <div class="form-group">
                                        <button type="submit" class="btn btn-finish btn-fill btn-rose btn-wd">
                                            Отправить
                                        </button>
                                    </div>
                                </div>


                    </form>
                </div>
            </div>
        </div>
    </div>

    {% for result in laba_3 %}

        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <br>
                    <div class="text-center">
                        <h4 class="text-black">

                            <b>
                                Лабораторная работа №3.</b>{{ result.title }}

                        </h4>
                        {#                        <i>#}
                        {#                            Каждый студент выполняет все задания. Стандартные функции передискретизации,#}
                        {#                        </i>#}
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-lg-6">
                                <img src="{{ result.img_before.url }}" width="100%">
                            </div>
                            <div class="col-lg-6">
                                <img src="{{ result.img_after.url }}" width="100%">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-4">
                                <img src="{{ result.Gx.url }}" width="100%">
                            </div>
                            <div class="col-lg-4">
                                <img src="{{ result.Gy.url }}" width="100%">
                            </div>
                            <div class="col-lg-4">
                                <img src="{{ result.G.url }}" width="100%">
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    {% endfor %}


{% endblock %}