{% extends 'base.html' %}

{% block title %} Лабораторная 1 {% endblock %}

{% block content %}

    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <br>
                <div class="text-center">
                    <h4 class="text-black">

                        <b>
                            Лабораторная работа №2.</b> Фильтрация изображений и морфологические операции

                    </h4>
                    <i>
                        В качестве входных данных берётся монохромное изображение (несколько штук).
                        В качестве выходных данных демонстрируется:
                        <ol>
                            <li>отфильтрованное монохромное изображение</li>
                            <li>разностное изображение (попиксельный xor или модуль разности).</li>
                        </ol>
                        Выполняется одно задание на выбор:
                    </i>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table">
                            <tbody>

                            <tr>
                                <td colspan="5" class="">
                                    <h4>
                                        <ol>
                                            <li>
                                                Фильтрация методом
                                                    пространственного сглаживания;
                                            </li>
                                            <li>
                                                Фильтрация методом консервативного сглаживания;
                                            </li>
                                            <li>
                                                Фильтрация медианным фильтром с ядром в виде равнины (единичные веса),
                                                креста прямого, креста косого;
                                            </li>
                                            <li>
                                                Фильтрация медианным фильтром с ядром в виде холма (приоритет центра и
                                                соседей), в виде впадины (приоритет углов и соседей, в центре 1);
                                            </li>
                                            <li>
                                                Фильтрация логическим фильтром;
                                            </li>
                                            <li>
                                                Фильтрация ранговым фильтром;
                                            </li>
                                            <li>
                                                Фильтрация методом преобладающего оттенка;
                                            </li>
                                            <li>
                                                Фильтр "стирание бахромы";
                                            </li>
                                            <li>
                                                Операция морфологического расширения Dilation;
                                            </li>

                                            <li>
                                                Операция морфологического сжатия Erosion;
                                            </li>

                                            <li>
                                                <a href="{% url 'laba_2:opening-index' %}"><b>
                                                Операция морфологического открытия Opening;
                                                </b></a>
                                            </li>

                                            <li>
                                                Операция морфологического закрытия Closing.
                                            </li>
                                        </ol>
                                    </h4>
                                </td>
                            </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% for result in results %}

        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <br>
                    <div class="text-center">
                        <h4 class="text-black">{{ result.title }} {{ result.id }}

                        </h4>
                        {#                        <i>#}
                        {#                            Каждый студент выполняет все задания. Стандартные функции передискретизации,#}
                        {#                        </i>#}
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-lg-6">
                                <img src="{{ result.img_before.url }}" width="100%">
                            </div>
                            <div class="col-lg-6">
                                <img src="{{ result.img_after.url }}" width="100%">
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    {% endfor %}


{% endblock %}